/**
 * Created by 熊超超 on 2017/8/4.
 */
@import "./vars";
@import "./theme";

html {
  /* 标准字体大小 */
  font-size: $baseFontSize;
  height: 100%;
}

html, body {
  /*禁用横向滚动*/
  overflow-x: hidden;
  width: 100%;
  /*取消部分浏览器点击有阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*优化移动端滚动事件*/
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  /*设置网页基本字体颜色*/
  color: $baseFontColor;
  background: $bg;
}

/**
 * 移除常用标签的浏览器默认的「margin、padding」
 */
body, p, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, th, td, button, figure, input, textarea, form {
  margin: 0;
  padding: 0;
}
/**
 * 不同浏览器的 input、select、textarea 的盒子模型宽度计算方式不同，统一为最常见的 content-box
 */
input, select, textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/**
 * 移除浏览器部分元素的默认边框
 */
img, input, button, textarea {
  border: none;
  -webkit-appearance: none;
}

input {
  /*由于 input 默认不继承父元素的居中样式，所以设置：「text-align: inherit」*/
  text-align: inherit;
}
/**
* 由于以下元素的部分属性没有继承父节点样式，所以声明这些元素的这些属性为父元素的属性
* 取消这些元素 `outline` 样式
*/
a, h1, h2, h3, h4, h5, h6, input, select, button, option, textarea, optgroup {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}
/*取消 ol，ul 默认列表样式*/
ol, ul {
  list-style: none;
}
/*鼠标小手*/
.cp{
  cursor: pointer;
}
/* 单行文本溢出显示省略号「to ==> text-overflow」*/
.to {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*取消部分浏览器数字输入控件的操作按钮*/
input[type='number'] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
/*取消火狐浏览器部分版本 input 聚焦时默认的「padding、border」*/
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#app{
  height: 100vh;

  .app-view{
    height: 100%;

    .tab-view{
      overflow: hidden;

      .main-tab{
        height: 100%;

        .el-tabs__content{
          height: 100%;
          overflow: hidden;

          .el-tab-pane{
            height: 100%;
            overflow: auto;
            position: relative;
          }
          .content-view{
            margin: 10px;
            &.h-100{
              height: calc(100% - 20px);
            }
            &.full{
              margin: 0;
            }
          }
        }
      }
    }
  }
  .svg-icon{
    transition: all 0.3s;
  }
}
@for $i from 1 through 100 {
  .m-#{$i} {
    margin: #{$i}px;
  }
  .m-h-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .m-v-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .m-t-#{$i} {
    margin-top: #{$i}px;
  }
  .m-b-#{$i} {
    margin-bottom: #{$i}px;
  }
  .m-l-#{$i} {
    margin-left: #{$i}px;
  }
  .m-r-#{$i} {
    margin-right: #{$i}px;
  }
  .p-#{$i} {
    padding: #{$i}px;
  }
  .p-h-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .p-v-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .p-t-#{$i} {
    padding-top: #{$i}px;
  }
  .p-b-#{$i} {
    padding-bottom: #{$i}px;
  }
  .p-l-#{$i} {
    padding-left: #{$i}px;
  }
  .p-r-#{$i} {
    padding-right: #{$i}px;
  }
}
// 字体 10-50 偶数
@for $i from 5 through 25{
  $j: 2*$i;
  .f-#{$j} {
    font-size: #{$j}px;
  }
}
//
@for $i from 0 through 10{
  .o-#{$i} {
    opacity: #{$i/10};
  }
}
.a-c{
  text-align: center;
}
.a-r{
  text-align: right;
}
.a-l{
  text-align: left;
}

.bg-white{
  background-color: white;
}

.b-b{
  border-bottom: 1px solid $border-color;
}
.b-t{
  border-top: 1px solid $border-color;
}
.b-r{
  border-right: 1px solid $border-color;
}
.b-l{
  border-left: 1px solid $border-color;
}
.bb.p{
  border-top: 3px solid $color-primary;
}
.bb.s{
  border-top: 3px solid $color-success;
}
.bb.d{
  border-top: 3px solid $color-danger;
}
.bb.w{
  border-top: 3px solid $color-warning;
}
.bb.i{
  border-top: 3px solid $color-info;
}
.c-info{
  color: $color-info;
}
.c-danger{
  color: $color-danger;
}
.c-white{
  color: white;
}
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
